<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-role="fieldcontain">
    <%= f.label :date %>
    <fieldset data-role="controlgroup" data-type="horizontal">
      <%= f.date_select :date %>
    </fieldset>
  </div>
  <div class="field"  data-role="fieldcontain">
    <%= f.label :season %>
    <%= f.select :season, Game::SEASONS %>
  </div>
  <div class="field"  data-role="fieldcontain">
    <%= f.label :opponent %>
    <%= f.text_field :opponent %>
  </div>
  <div class="field"  data-role="fieldcontain">
    <%= f.label :nuscore %>
    <%= f.text_field :nuscore %>
  </div>
  <div class="field"  data-role="fieldcontain">
    <%= f.label :oppscore %>
    <%= f.text_field :oppscore %>
  </div>
  <div class="field"  data-role="fieldcontain">
    <%= f.label :location %>
    <%= f.select :location, Game::LOCATIONS %>
  </div>
  <div class="field"  data-role="fieldcontain">
  <fieldset data-role="controlgroup" data-type="horizontal">
    <%= f.label :overtime %>
    <%= f.check_box :overtime %>
    <%= f.label :deleted %>
    <%= f.check_box :deleted %>
  </fieldset>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
