<div data-role="collapsible-set" data-theme="b">
    <% @gamesbyseason.each do |season, games| %>
      <div data-role="collapsible">
       <h3><%= season %></h3>
       <ul data-role="listview" class="ui-grid-b">
          <% games.each do |game| %>
            
            <li>
            <%= link_to(edit_game_path(game)) do %>
              <h3> <%= game.date %> </h3>
                <p> <%= game.nuscore %>-<%=  game.oppscore %>
                <% if game.overtime == true %> OT <% end %>
                <% if game.location == "away" %> @
                  <% elsif game.location == "home" %> vs
                <% end %>
              <%= game.opponent %>
               </p>
             <% end %>
            </li>
          <% end %>
       </ul>
      </div>
    <% end %>
</div>

<br />

<%= link_to 'New Game', new_game_path %>
