<div data-role="content">
		<div class="content-primary">
		<ul data-role="listview" data-theme="d" data-divider-theme="d">
    <% @gamesbyseason.each do |season, games| %>
      <li data-role="list-divider"><%= season %></li>
      <div class="ui-grid-d">
        <% games.each do |game| %>
            <div class="ui-block-a"><%= game.date %></div>
            <div class="ui-block-b"><%= link_to game.opponent, edit_game_path(game)%></div>
            <div class="ui-block-c">
              <%= game.nuscore %>-<%=  game.oppscore %>
              <% if game.overtime == true %> OT <% end %>
            </div>
            <div class="ui-block-d"><%= game.location %></div>
            <div class="ui-block-e"><%= game.deleted %></div>
        <% end %>
      </div>
    <% end %>
    </ul>
  </div>
</div>

<br />

<%= link_to 'New Game', new_game_path %>
