<p id="notice"><%= notice %></p>

<p>
  <b>id:</b>
  <%= @game._id %>
</p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Season:</b>
  <%= @game.season %>
</p>

<p>
  <b>Opponent:</b>
  <%= @game.opponent %>
</p>

<p>
  <b>Nuscore:</b>
  <%= @game.nuscore %>
</p>

<p>
  <b>Oppscore:</b>
  <%= @game.oppscore %>
</p>

<p>
  <b>Location:</b>
  <%= @game.location %>
</p>

<p>
  <b>Deleted:</b>
  <%= @game.deleted %>
</p>

<p>
  <b>Overtime:</b>
  <%= @game.overtime %>
</p>

<p>
  <b>Created:</b>
  <%= @game.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @game.updated_at %>
</p>

<%= link_to 'Destroy', @game, :confirm => 'Are you sure?', :method => :delete %><
<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
